body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#game-container {
    width: 2000px;
    height: 950px;
    border: 10px solid black;
}

#ball {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    left: 1px;
    top: 1px;
}

h1 {
    user-select: none;
    position: fixed;
}

#accuracy-header {
    top: 50px;
}

#instructions {
    bottom: 50px;
}